.container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.img-container {
  width: 212px;
  float: left;
  height: 120px;
  border-radius: 4px;
  margin-right: 12px;
  overflow: hidden;
}

img.clip {
  width: 100%;
}

.postInfo {
}

.post {
  display: flex;
  margin-bottom: 14px;
}

.summary {
  padding-top: 5px;
}

@media screen and (max-width: 670px) {
  .img-container {
    position: absolute;
    visibility: hidden;
  }

  .summary {
    margin-bottom: 16px;
  }
}

