.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 700px;
}

.img-container {
  width: 250px;
  float: left;
  height: 140px;
  border-radius: 4px;
  margin-right: 12px;
  overflow: hidden;
}

img.clip {
  width: 100%;
}

.post {
  display: flex;
  margin-bottom: 14px;
}

.summary {
  padding-top: 8px;
}

@media screen and (max-width: 620px) {
  .img-container {
    position: absolute;
    visibility: hidden;
  }

  .summary {
    margin-bottom: 16px;
  }
}
